* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 16px;
    text-align: center;
    font-family: 'Lora';
    position: relative;
}

.header-logo a {
    font-size: 50px;
    text-decoration: none;
    font-family: 'Dancing Script', cursive;
    color: #415841;
}

.header-logo a:hover {
    color: black;
}

.header-menu {
    float: left;
    width: 100%;
    background-color: #415841;
}

.header-menu li {
    display: inline-block;
    
}

.header-menu a {
    padding: 5px;
    text-decoration: none;
    margin: 0px 35px 0px 35px;
    color: whitesmoke;
    display: block;
    font-size: 20px;
}

.header-menu a:hover {
    color: black;
}

.main {
    width: 940px;
    height: auto;
    margin: 30px 20% 0 20%;
    float: left;
    border: 2px solid #415841;
    padding: 10px;
}

.main-text {
    padding: 5px 10px 5px 10px;
    text-align: center;
    background-color: transparent;
}

.main-image img {
    width: 900px;
    height: auto;
    overflow: hidden;
}

#blog {
    margin: 50px 10px 25px 10px;
    display: block;
    float: left;
    font-family: 'Lora', serif;
}

#blog a {
    padding: 5px;
    text-decoration: none;
    float: right;
    color: black;
}

#blog a:hover {
    background: #415841;
    color: whitesmoke;
}

#blog h2,
.newsletter-title h2 {
    color: #415841;
    padding: 10px;
}

.blog-box1,
.blog-box2,
.blog-box3 {
    width: 32%;
    float: left;
    padding: 0px 0px 0px 40px;
}

.newsletter {
    float: left;
    border-top: 2px solid #415841;
}

.newsletter img {
    float: left;
    width: 25%;
    height: auto;
}

.newsletter-button {
    border: 1px solid #415841;
    margin-top: 40px;
    margin-left: 20px;
    text-decoration: none;
    font-family: 'Lora';
    font-size: 16px;
    padding: 4px;
    background-color: transparent;
}

.newsletter-button:hover {
    background-color: #415841;
    color: whitesmoke;
    cursor: pointer;
}

.newsletter-title {
    margin-top: 25px;
}

.email-input {
    margin-top: 40px;
    border: 1px solid black;
    padding: 10px 120px 10px 120px;
}

footer {
    background-color: #415841;
    color: whitesmoke;
    width: 100%;
    display: inline-block;
}

@media screen and (max-width: 1024px) {
    .main {
        margin: 5px;
        width: 95%;
    }
    .main-image img {
        width: 90%;
    }
    .header-menu a {
        width: 100wv;
        margin: 0px 20px 0px 20px;
    }
    body {
        font-size: 14px;
    }
    .blog-box1,
    .blog-box2,
    .blog-box3 {
        float: none;
        width: 100%;
        margin-bottom: 50px;
    }

    #blog {
        margin: 20px 20px 20px 0px;
    }
    .newsletter-title h2 {
        font-size: 13px;
        padding: 0px;
    }
    .newsletter {
        margin-top: 5px;
    }

    .email-input {
        margin-top: 20px;
        padding: 10px 80px 10px 80px;
    }
    .newsletter-button {
        margin-bottom: 20px;
    }
}

@media screen and (min-width: 1700px) {
    .main {
        width: 60%;
    }
    .main-image img {
        width: 95%;
    }
    body, .header-menu a{
        font-size: 25px;
    }
